@font-face {
  font-family: 'Hakgyoansim Kkwabaegi';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimKkwabaegi/HakgyoansimKkwabaegi.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimKkwabaegi/HakgyoansimKkwabaegi.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimKkwabaegi/HakgyoansimKkwabaegi.otf') format('opentype'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimKkwabaegi/HakgyoansimKkwabaegi.ttf') format('truetype');
}